<% @comments.each do |c| %>
  <p>
    <%= @post.user.name %><a> :- </a>
    <%= c.body %>
    <%= link_to "Delete", post_comment_path(c.post_id, c.id), method: :delete, data: {confirm: "Are you sure?"} %>
  </p>
<% end %>