<% if current_user %>
<h3></a> Posts (<%= current_user.posts.count %>)</h3>
<% end %>
<ol class="posts">
  <%= render @posts %>
</ol>

<%= link_to "Add a Post", new_post_path, class: "btn btn-lg btn-primary"%>