<p>
  <strong>Body:</strong>
  <%= @post.content %>
</p>

<%= link_to "Add a Post", new_post_path, class: "btn btn-lg btn-primary"%>

<%= link_to 'Show all Posts', posts_path, class: "btn btn-lg btn-primary" %>